body{
  background-color: rgb(173, 173, 161);
  width: 100vw;
  height: 100vh;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.chat{
  width: 1000px;
  border: black 4px solid;
  margin: auto;
  margin-top: 20px;
  padding: 50px;
  background-color: white;

  h1{
    margin-bottom: 30px;
    background-color: inherit;
    text-align: center;
    font-size: 42px;
    &.connect{
      color: rgb(15, 225, 15);
      text-shadow: 1px 2px 3px rgb(6, 134, 6);
    }
  
    &.disconnect{
      color: rgb(207, 38, 38);
      text-shadow: 1px 2px 3px rgb(192, 10, 10);
    }
  }
}