.ValidateBlock{
    
    height: 80px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    p{
        font-size: 32px;
        text-align: center;
        margin: auto;
    }
    &.active{
        border: 4px dashed rgb(240, 96, 96);
    }
}